<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace: 命名空间，用于区分不同的mapper-->
<mapper namespace="com.fzuswimassociation.mappers.LeaderMapper">
    <!--声明sql语句-->
    <!--注意Mapper.xml文件中引用的方法不能重载，否则会报错-->
    <select id="getLeadersList" resultType="com.fzuswimassociation.pojo.Leader">
        SELECT id, name, age, img_url, introduction, position
        FROM leader;
    </select>
    <select id="getLeaderDetail"
            resultType="com.fzuswimassociation.pojo.Leader">
        SELECT id, name, age, img_url, introduction, position
        FROM leader
        WHERE id = #{id};
    </select>
</mapper>

